.game-screen {  
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    border: 1px solid gold;
}

.food-quizz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
  height: 300px;
  width: 175px;
  /* border: 1px solid blue; */
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 25px;
  /* border: 1px solid gray; */
}

.ingredient-landing {
  width: 100px;
  height: 40px;
}
/* croissant top & bottom */
.hint {
  width: 125px;
  height: 30px;
  /* border: 1px solid darkgrey; */
}

.top {
  background-image: url('../images/CroissantTop.png');
  background-size: 100% 100%;
}

.bottom {
  background-image: url('../images/CroissantBottom.png');
  background-size: 100% 100%;
}

.ingredients {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 300px;
  /* border: 1px solid blue; */
}

.ingredient {
  width: 95px;
  height: 30px;
}
